.entirePage{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-seri;
    background-color: white;
}

/*Banner*/
body, html {
    height: 50%;
    margin: 0;
}
.banner-image {
    background-image: url("./images/banner.png");
    height: 300%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/*Social Media*/
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin-left: 200px;
}

/*hover effect */
.fa:hover {
    opacity: 0.7;
}


/*Nav Bar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
/*Top title*/
.centerText{
    font-family: cursive;
    text-align: left;
    font-size: 800%;
    color: black;
}

/*Body of the pg*/
.aboutTitle{
    font-family: cursive;
    font-size: 300%;
    color: grey;
    text-align: center;
}
.aboutMe{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: right;
    font-size: 300%;
    color: black;
}

.experienceTitle{
    font-family: cursive;
    font-size: 300%;
    color: grey;
    text-align: center;
}

#experience{
    font-family: 'Lucida Sans';
    color: black;
    margin-top: 40px;
    margin-left: 40px;
}

#experience2{
    font-family: 'Lucida Sans';
    color: black;
    margin-top: 60px;
    margin-left: 60px;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#contact{
    margin-top: 200px;
    margin-left: 40px;
}
/*linkedin*/
.fa-linkedin {
    background: #007bb5;
    color: white;
}
